////////////NAVIGATION///////////////
#main-nav {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  text-align: right;
  position: absolute;
  top: 0;
  text-shadow: none;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  li {
    display: inline-block;
    padding: 0 80px 0 0;
    font-size: 1.8rem;
  }
  a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    outline: 0;
    z-index: 1;
  }
}
