////////////NAVIGATION///////////////
#main-nav {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  text-align: right;
  position: absolute;
  top: 0;
  text-shadow: none;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px 0 0;
  }
  li {
    display: inline-block;
    padding: none;

    font-size: 1.8rem;
  }
  a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    outline: 0;
    z-index: 1;
  }
}

li:hover {
  box-shadow: 3px 2px 2px none;
  transform: translatey(0.3rem);
  transition: transform 125ms;
  @include Intro;
}
