//////////////ICONS////////////////////

.fa {
  padding: 0;
  margin: 0;
  color: rgb(19, 14, 29);
}

.fa-github::after {
  display: block;
  content: "Github";
  font-size: 1rem;
  padding-top: 0.5px;
}

.fa-envelope::after {
  display: block;
  content: "Email";
  font-size: 1rem;
}
////////////////////////////////////////
