$bluegrad: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
$bg: #0093e9;
///////////////////////

$bg2: #625d50;
$redgrad: linear-gradient(160deg, #625d50 0%, #ff5e03 100%);

////////////////////////
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lemonada", cursive;
}

////////////////////////
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/////////////////////////

/////////////////MAIN SECTIONS///////////////////
#main-section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  text-align: center;
}

//About ME//
#about {
  background-color: $bg;
  background-image: $bluegrad;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5rem;
  text-align: center;
  margin: 0;
}

////PROJECTS//////
#prj-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-tile {
  width: 400px;
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#prj1 {
  background-image: url("../../img/survey.jpg");
}

#prj2 {
  background-image: url("../../img/product.jpg");
}
#prj3 {
  background-image: url("../../img/technical.jpg");
}

#prj4 {
  background-image: url("../../img/tribute.jpg");
}

////////////////////////////////////////////
#skills_contact-container {
  background-color: #625d50;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.S1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  li {
    text-align: left;
    list-style-position: inside;
  }
}

#skills {
  background-color: aquamarine;
  #skills-container {
    display: flex;
    gap: 50px;
    flex-direction: row;

    #frontend,
    #backend {
      padding: 20px;
    }
  }
}

///////////////////////////////////////
#contact_me {
  background-color: blueviolet;
  flex-direction: row;
  .fa {
    font-size: 5rem;
  }
  a {
    outline: 0;
    text-decoration: none;
    color: black;
    padding: 30px;
  }
}
