$bluegrad: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
$bg: #0093e9;
///////////////////////

$bg2: #625d50;
$redgrad: linear-gradient(160deg, #625d50 0%, #ff5e03 100%);

////////////////////////
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lemonada", cursive;
}

////////////////////////
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/////////////////////////

/////////////////MAIN SECTIONS///////////////////
#main-section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  text-align: center;
}

//About ME//
#about {
  background-image: url(../../img/nyc.jpg);
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba($color: #d4d468, $alpha: 1);
  text-shadow: 1px 6px;
  font-size: 6rem;
  font-size: 6vw;
  text-align: center;
  margin: 0;
  .underTxt {
    font-size: 1.7rem;
    font-size: 2vw;
    font-style: italic;
    font-family: "Turret Road", cursive;
    width: 600px;
    margin: 0 auto;
    font-weight: 900;
    text-shadow: none;
    color: white;
  }
}

////PROJECTS//////
#prj-container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-tile {
  width: 400px;
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 0.1px solid black;
}

#prj1 {
  background-image: url("../../img/survey.jpg");
}

#prj2 {
  background-image: url("../../img/product.jpg");
}
#prj3 {
  background-image: url("../../img/technical.jpg");
}

#prj4 {
  background-image: url("../../img/tribute.jpg");
}

////////////////////////////////////////////
#skills_contact-container {
  background: rgb(124, 131, 164);
  background: linear-gradient(
    90deg,
    rgba(124, 131, 164, 0.9) 19%,
    rgba(203, 183, 121, 0.9) 92%
  );
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.S1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  li {
    text-align: left;
    list-style-position: inside;
  }
}

#skills {
  color: white;
  font-size: 1.21vw;
  #skills-container {
    display: flex;
    gap: 50px;
    flex-direction: row;
    #frontend,
    #backend {
      padding: 20px;
    }
  }
}

///////////////////////////////////////
#contact_me {
  flex-direction: row;
  gap: 50px;
  .fa {
    font-size: 5rem;
  }
  a {
    outline: 0;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
  }
}
