//////////////NAVIGATION//////////////////
@media only screen and (max-width: 837px) {
  #main-nav ul {
    justify-content: center;
    li {
      padding: 0 25px;
    }
  }
}

//////////////PROJECTS////////////////////////
@media only screen and (max-width: 837px) {
  .project-tile {
    width: 350px;
    height: 250px;
  }
}

/////////////////////SKILLS & CONTACT////////////////////
@media only screen and (max-width: 1125px) {
  #main-section {
    flex-direction: column;

    #skills_contact-container {
      height: 100vh;
      width: 100%;
      font-size: clamp(16px, 2vw, 30px);
    }
    #contact_me {
      flex-direction: row;
    }
  }
}
////////////////////////////////////////////////////////////
////SKILLS
@media screen and (max-width: 1264px) {
  #skills-container {
    display: flex;
    gap: 0;
    flex-direction: row;

    #frontend,
    #backend {
      padding: 10px;
    }
  }
}

/////////////Small Screens//////////////////
@media only screen and (max-width: 593px) {
  .underTxt {
    max-width: 450px;
    word-wrap: break-word;
    word-break: break-all;
  }
}

///////////////////Super Small/////////
@media only screen and (max-width: 273px) {
  #skills-container {
    flex-direction: column;
  }
  #frontend,
  #backend {
    padding: 0;
    margin: 0;
  }
}
