//////////////NAVIGATION//////////////////
@media only screen and (max-width: 837px) {
  #main-nav ul {
    justify-content: center;
    li {
      padding: 0;
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}

//////////////PROJECTS////////////////////////
@media only screen and (max-width: 837px) {
  #prj-container {
    width: 100%;
    height: 100vh;
  }
}

/////////////////////SKILLS & CONTACT////////////////////
@media only screen and (max-width: 1118px) {
  #main-section {
    flex-direction: column;

    .project-tile {
      width: 400px;
      height: 300px;
    }

    #skills_contact-container {
      height: 100vh;
      width: 100%;
      h2 {
        padding-top: 40px;
      }
    }

    #skills-container {
      display: flex;
      gap: 40px;
      #frontend,
      #backend {
        padding: 20px;
      }
    }

    #contact_me {
      flex-direction: row;
      .fa-github {
        top: 0;
      }
    }
  }
}
