//////////////NAVIGATION//////////////////
@media only screen and (max-width: 450px) {
  #main-nav ul {
    justify-content: center;
    padding-left: 80px;
  }
}
//////////////PROJECTS////////////////////////
@media only screen and (max-width: 837px) {
  .project-tile {
    width: 350px;
    height: 250px;
  }
  .prjHighlight {
    margin-top: -30px;
  }
}

@media only screen and (max-width: 737px) {
  .prjHighlight {
    margin-top: -10px;
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

/////////////////////SKILLS & CONTACT////////////////////
@media only screen and (max-width: 1125px) {
  #cont {
    display: initial;
    padding-left: 20px;
  }

  #main-section {
    flex-direction: column;

    #skills_contact-container {
      height: 100vh;
      width: 100%;
      font-size: clamp(16px, 2vw, 30px);
    }
    #contact_me {
      flex-direction: row;
    }
  }
}
////////////////////////////////////////////////////////////
////SKILLS
@media screen and (max-width: 1264px) {
  #skills-container {
    display: flex;
    gap: 0;
    flex-direction: row;

    #frontend,
    #backend {
      padding: 10px;
    }
  }
}

/////////////Small Screens//////////////////
@media only screen and (max-width: 593px) {
  .underTxt {
    max-width: 450px;
    word-wrap: break-word;
    word-break: break-all;
  }
}
@media only screen and (max-width: 450px) {
  .underTxt {
    max-width: 350px;
  }
}
@media only screen and (max-width: 323px) {
  .underTxt {
    max-width: 300px;
  }
}
@media only screen and (max-width: 293px) {
  .underTxt {
    max-width: 250px;
  }
}

///////////////////Super Small/////////
@media only screen and (max-width: 312px) {
  #skills-container {
    flex-direction: column;
    min-width: 0;
  }
  #frontend,
  #backend {
    padding: 0;
    margin: 0;
  }
}
